<h1>Lista de Productos</h1>
<ul>
    {{#each products}}
        <li>
            <strong>{{this.title}}</strong> - {{this.description}} (Precio: ${{this.price}})
        </li>
    {{else}}
        <p>No hay productos para mostrar.</p>
    {{/each}}
</ul>